   nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items:center; */

   }
   #navUper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    /* padding-top: 15px; */
        padding: 15px 15px 0px 15px;

   }
   #navPartition-1  img{
    height: 24px;
   }
    #navPartition-3{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        align-items: center;

    }
    #navPartition-2{
        display: flex;
        width: 60%;
        /* justify-content: space-between; */
        align-items: center;
    }
    .menu{
          font-family: "Noto Sans Caucasian Albanian", sans-serif;
  font-weight: bold;
  font-style: normal;
  padding: 0px 10px 0px 10px;

    }
    #navPartition-3 #navPartitionLeft2 img{
        height: 30px;
        margin: 0px 0px 0px 15px;
    }
     #navPartition-3 #navPartitionLeft1 img{
        height: 24px;
        
    }
    .btn{
    background-color: #E50000;
    background: E50000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: none;
    padding: 6px 16px 6px 16px;
    font-size: 12px;
    font-weight: bold;
}
    .navLower{
            display: flex;
    justify-content: center;
    align-items: center;
    }
    .navLower img{
            height: 65px;
    margin: 26px 0px 0px 0px;
    }